.pagination{

    margin-top: 50px;

    .content{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    

    ul{

        li.active{
            background: rgba(22, 25, 30, 0.77);
        }
        li{
            list-style: none;
            background-color: #BDBDBD;;
            border-radius: 6px;
            margin-right: 5px;
            width:34px;
            height:33px;
            text-align: center;
            

            &:hover{
                background: rgba(22, 25, 30, 0.77);
            }

            a{
                text-decoration: none;
                font-size: 20px;
                font-weight: 500;
                line-height: 33px;
                color:#FFFFFF;
            }
        }
    }
}