.errorContainer{
    padding:5px 20px;
    font-size: 15px;
    text-align: center;
    background-color: crimson;
    color:#333;
    border-radius: 10px;
    color:white;
    margin-top:20px;

    h2{
        cursor:pointer;
    }
}